h1
{
	couleur : jaune ;
}

corps
{
	background-color : bleu;


# carte
{

		largeur :  800 px ;
		marge : 0 automatique ;
		background-color : blanc;
		text-align : center;
		align-content : center;
}
